.Message {
  font-family: serif;
  right: 35%;
  padding: 40px;
  font-size: 20px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  text-align: center;
  top: 100px;
  position: absolute;
}