$f-s: 16px;
$f-f: serif;

.noteBlock {
  width: 18%;
  margin: 2.5% 2%;
  padding: 10px;
  background: antiquewhite;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.textField {
  border: none;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  width: 100%;
  font-size: 16px;
  font-family: $f-f;
  resize: none;
  background: none;
  outline: none;
}

.text {
  width: 100%;
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
  font-size: $f-s;
  font-family: $f-f;

  pre {
    margin: 0;
    padding: 0;
    font-size: $f-s;
    font-family: $f-f;
  }
}

.buttonsBlock {
  display: flex;
  justify-content: space-between;
}
